/* default  setup */ 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
h1, h2, h3, h4,h5, h6, span{
  color: "whatever color";
  text-align: center;
  line-height:1.25;
} 

p{
  line-height:1.25;
  font-size: 16px;
} 
li{
list-style-type: none;
}
a{
  text-decoration: none;
}
/*reusable css*/
.big-row{
  width:100%;
  max-width:1200px;
  margin:0 auto;
      
}
.med-row{
    width:100%;
  max-width:800px;
  margin:0 auto;
  padding: 0 14px;
}
.small-row{
    width:100%;
  max-width:600px;
  margin:0 auto;
}
.container{
  padding: 80px 0;
}
/*  */




/*Small phones, tablets, large smartphone */ 
@media (max-width: 768px){
  
} 
/*Small Phones*/
@media (max-width: 480px){
  
}


